<h1 class="text-center">Making a Halloween Story</h1>

<p>Nice dance moves! For your second task you are going to use Scratch once more to develop a scary Halloween story.</p>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">Coding Task</h4>
			</div>
			<div class="panel-body">
				<p>In this task you will need to use the <a href="http://scratch.mit.edu/projects/editor/" target="_blank">Scratch Code Editor</a>.</p>
				<p>You can also use <a href="http://res.whitechapel.link/#scratch" target="_blank">these Scratch cards</a> to complete this coding task.</p>
				<h4>Tasks</h4>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						<span class="badge">1 point</span>Add a spooky sprite.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">2 points</span>Add a spooky background.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">2 points</span>Make the sprite say a spooky message when the space bar is pressed.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">3 points</span>Make the sprite move left and right with the arrow keys.
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">4 points</span><strong>BONUS!</strong> Add another spooky sprite and make it follow the mouse around.
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="text-center">Physical Task</h4>
			</div>
			<div class="panel-body">
				<p>Make up an original Halloween story to tell the Witch. Try to be as creative as possible!</p>
			</div>
		</div>
	</div>
</div>