<h1 class="text-center">Make your team's Spooooky Website</h1>

<p>Woah! What a scary story that was! In this task we will use our HTML wizardry to create your team's website.</p>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">Coding Task</h4>
			</div>
			<div class="panel-body">
				<p>For this task you are encouraged to use <strong>any text editor</strong> you have on your computer, however for ease of access you can also use the online code editor <a href="http://jsfiddle.net" target="_blank">JSFiddle</a>.</p>
				<p>Stuck with your HTML? Check out the awesome <a href="http://www.w3schools.com/html/" target="_blank">tutorials by W3Schools</a> (open it on your research computer).</p>
				<h4>Tasks</h4>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						<span class="badge">2 points</span>Create your HTML document with the &lt;head&gt; and &lt;body&gt; tags in the correct places.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">1 point</span>Create a heading with your Team Name.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">3 points</span>Create an ordered &lt;ol&gt; or unordered &lt;ul&gt; list with the names of everyone in your team along with their ages.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">2 points</span>Find an image related to Halloween and add it to your page.
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">2 points</span><strong>BONUS!</strong> Add a link to your favourite websites.
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">2 points</span><strong>BONUS!</strong> Try to center everything on the page.
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="text-center">Physical Task</h4>
			</div>
			<div class="panel-body">
				<p>Draw, create or even make the scariest creature ever. Give it a name, and make the Witch believe it really does exists so she'll give you presents to go away.</p>
			</div>
		</div>
	</div>
</div>