<h1 class="text-center">Style Your Website</h1>

<p>Now that's what I call a scary creature... It's time to brush up on our HTML and CSS skills in order to impress the Game Master.</p>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">Coding Task</h4>
			</div>
			<div class="panel-body">
				<p>For this task you are encouraged to use <strong>any text editor</strong> you have on your computer, however for ease of access you can also use the online code editor <a href="http://jsfiddle.net" target="_blank">JSFiddle</a>.</p>
				<p>Stuck with your HTML? Check out the awesome <a href="http://www.w3schools.com/html/" target="_blank">tutorials by W3Schools</a> (open it on your research computer).</p>
				<p>Stuck with your CSS? Check out the awesome <a href="http://www.w3schools.com/css/" target="_blank">tutorials by W3Schools</a> (open it on your research computer).</p>
				<h4>Tasks</h4>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						<span class="badge">1 point</span>Create your HTML document with the &lt;head&gt; and &lt;body&gt; tags in the correct places.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">1 point</span>Create a heading with the name of a mythical creature.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">2 points</span>Make the font of the heading blue.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">4 points</span>Change the background of your page to be an image using CSS.
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">2 points</span><strong>BONUS!</strong> Add a red or green ROUNDED border to the mythical creature name.
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">2 points</span><strong>BONUS!</strong> Add a text shadow to the heading.
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="text-center">Physical Task</h4>
			</div>
			<div class="panel-body">
				<p>Say "Trick or Treat" to the Witch in as many different languages as members of your team. If you have 5 people in your team, that's 5 different languages.</p>
				<p>You can use this <a href="https://translate.google.com/#en/pt/Trick%20or%20Treat" target="_blank">little nice tool</a> to help you out.</p>
			</div>
		</div>
	</div>
</div>