<h1 class="text-center">JavaScript'in Your Halloween</h1>

<p>It seems you know a lot of languages! It is now time to get into some serious coding, starting with JavaScript!</p>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">Coding Task</h4>
			</div>
			<div class="panel-body">
				<p>For this task we have <a href="http://jsbin.com/jarepugepe/embed/?html,console,output" target="_blank">set-up a JSBin so you can start from it</a>.</p>
				<p>You are encouraged to have a look at <a href="http://res.whitechapel.link/#javascript" target="_blank">our JavaScript tutorials</a>. Or you can try the awesome <a href="http://www.w3schools.com/js/" target="_blank">tutorials by W3Schools</a>.</p>
				<h4>Tasks</h4>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						<span class="badge">1 point</span>Get the console to write Happy Halloween.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">3 points</span>Fix the for loop so that it counts up to 10. (TASK2)
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">4 points</span>Fix the for loop so that only prints out even numbers up to 20 to the div with the ID of even. (TASK3)
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">4 points</span><strong>BONUS!</strong> Make a new div with the ID of odd,a &lt;h1&gt; heading and then get the code to print off numbers within that div. (TASK4)
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="text-center">Physical Task</h4>
			</div>
			<div class="panel-body">
				<p>Make up a team roar to do in-front of the Witch. The scarier the better!</p>
			</div>
		</div>
	</div>
</div>