<h1 class="text-center">AHH! A Poisonous Python!</h1>

<p>That was the best team roar I have heard! Let's continue with real coding, this time, Python!</p>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">Coding Task</h4>
			</div>
			<div class="panel-body">
				<p>For this task you will need to either use Python IDLE or <a href="python.html" target="_blank">use an embedded Trinket</a> to write your code.</p>
				<p>You are encouraged to have a look at <a href="http://res.whitechapel.link/#python" target="_blank">our Python tutorials</a> as most answers will be in them.</p>
				<h4>Tasks</h4>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						<span class="badge">1 point</span>Print Happy Halloween!
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">2 points</span>Create two variables with your team name and another saying "is awesome". Connect them in a single print statement, using String concatenation.
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">1 point</span><strong>BONUS!</strong> Get an extra point for fixing the spacing issue.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">5 points</span>Create a for loop that prints out even numbers from 0 to 20. Hint: All even numbers return zero (if statement checking for zero may help).
					</li>
					<li class="list-group-item list-group-item-info">
						<span class="badge">3 points</span><strong>BONUS!</strong> Get even more points if you manage to square all numbers!
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="text-center">Physical Task</h4>
			</div>
			<div class="panel-body">
				<p>Name as many coding languages as you can. The more the merrier, try avoiding the more popular ones!</p>
			</div>
		</div>
	</div>
</div>