<h1 class="text-center">I've got an iDEA!</h1>

<p>Who knew there were that many Programming languages, eh? Now it's time for a quick challenge.</p>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">Coding Task</h4>
			</div>
			<div class="panel-body">
				<p>In this task you will be introduced to iDEA. A digital badges initiative by the Duke of York.</p>
				<p>Visit <a href="https://idea.org.uk" target="_blank">the iDEA website</a> and complete the following tasks.</p>
				<h4>Tasks</h4>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						<span class="badge">3 poinst</span>Register an iDEA account. Preferably by the oldest in your team.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">3 points</span>Find the CoderDojo Python badge in all badges under the Gamer category.
					</li>
					<li class="list-group-item list-group-item-success">
						<span class="badge">6 points</span>Try to complete the whole badge to get the last 6 points.
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="text-center">Physical Task</h4>
			</div>
			<div class="panel-body">
				<p>Grab a pumpkin and make anything with it, show it to the witch for your final prizes!</p>
			</div>
		</div>
	</div>
</div>